{% extends "base.html" %}

{% load humanize %}

{% block content %}

<div class="container">

    <div class="row" style="margin-bottom:3em;">
    <a href="/add" class="btn btn-primary">Add your message!</a>
    </div>

{% for message in messages %}
    <div class="row" style="margin-bottom:3em;">
    <h5 class="col-12" style="">{{message.name}} {{message.created_at|naturaltime}}:</h5>
    {% for language in languages %}
        {% for translated_message in message.translated_messages.all %}
            {% if translated_message.language == language.1 %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{language.0}}</h5>
                            <div class="card-text">{{translated_message.translated_message}}</div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </div>
{% endfor %}
</div>

{% endblock content %}